{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if (result is same as (2)) %}
            <p>movie added to favorites</p>
        {% endif %}
        {% if (result is same as (3)) %}
            <p>movie deleted from favorites</p>
        {% endif %}
        {% if (result is same as (null)) %}
            <p>film doesnt exist</p>
        {% endif %}
    </div>
{% endblock %}